.div-black-border {
	border: 3px solid #000000;
}

.div-lower-window-layout {
	display: grid;
	grid-template-columns: 30% 70%;
}

.div-file-window-layout {
	display: grid;
	grid-template-rows: 50px 525px;
}

.div-upper-window-layout {
	display: grid;
	grid-template-columns: 20% 60% 20%;
}

li {
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: auto auto;
	float: left;
	text-decoration: none;
	margin-left: 10px;
}

ul.file-folder {
	list-style-type: none;
	text-align: center; 
	display: inline;
}