#body {
    display: grid;
    grid-template-rows: 50px 50px 50px;
    grid-template-columns: 125px 250px 125px;
    background-color: #99badd;
}

#cancel-button:hover {
    cursor: pointer;
}

#submit-button:hover {
    cursor: pointer;
}

.p {
    height: 25px;
}